<form role="form" (submit)="registerUser()">
    <div class="form-group">
        <label for="firstname">Nome:</label>
        <input type="text" class="form-control" id="firstname" name="firstname" [(ngModel)]="userInfo.firstName"/>
    </div>
    <div class="form-group">
        <label for="lastname">Sobrenome:</label>
        <input type="text" class="form-control" id="lastname" name="lastname" [(ngModel)]="userInfo.lastName"/>
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="userInfo.password"/>
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" class="form-control" id="email" name="email" [(ngModel)]="userInfo.email"/>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
