<div class="container">
    <ul class="nav nav-pills">
        <li><a routerLinkActive="active" routerLink="/">Início</a></li>
        <li><a routerLinkActive="active" routerLink="/dashboard">Dashboard</a></li>
        <li><a routerLinkActive="active" routerLink="/login">Login</a></li>
        <li><a routerLinkActive="active" routerLink="/registration">Cadastro</a></li>
        <li><a (click)="logout()">Logout</a></li>
    </ul>
</div>
<div class="container">
    <router-outlet></router-outlet>
</div>
