<div class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav">
        <li><a class="nav-link" routerLinkActive="active" routerLink="/">Início</a></li>
        <li><a class="nav-link" routerLinkActive="active" routerLink="/dashboard">Dashboard</a></li>
        <li *ngIf="!(isLoggedIn$ | async)"><a class="nav-link" routerLinkActive="active" routerLink="/login">Login</a></li>
        <li *ngIf="!(isLoggedIn$ | async)"><a class="nav-link" routerLinkActive="active" routerLink="/registration">Cadastro</a></li>
        <li *ngIf="isLoggedIn$ | async"><a class="nav-link" (click)="onLogout()">Sair</a></li>
    </ul>
</div>
<div class="container">
    <router-outlet></router-outlet>
</div>
